body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;,
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


html {
  scroll-behavior: smooth; 
}


* {
  box-sizing: border-box;
}

h1{
  font-family: "Poppins - Semi Bold";
  font-size: 75px;
  font-weight: 400;
  line-height: 85px;
  color: #ffffff;
  margin: 0;
}

h2{

}


h3{
font-size: 35px;
font-weight: 500;
line-height: 85px;
color: #ffffff;
margin: 0;
text-align: center;
}

.header{
  background-color: #161b25;
  border: 1px solid #232e46;
  max-width: 1440px;
  margin: 0 auto;
}


.main{

}


.footer{
  border: 1px solid red;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}


.nav-list {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 18px;
  transition: .3s;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  line-height: 50px;
}

.nav-link:hover{
  color: #ccdb76;
}


.profile{
  background-color: #161b25;
  margin: 0;
  max-width: 100%; 
}


.userpic{
  padding-top: 5%;
  padding-left:10% ;
}

.avatar{
  max-width:420px ;
  max-height:470px ;
  
}

.name{
  max-width: 100px;
  padding-top: 13% ;
}

.title{
  margin-left: 5%;
}

.profession{
  background-color:#2d323b;
  padding-left: 10px;
  padding-right: 10px;
}

.profile{
  display: flex;
  justify-content: flex-start;
}

.contacts-list{
  color: #ffffff;
  list-style-type: none;
  
}

.icons{
  max-width: 25px;
  max-height: 25px;
  margin: px;
}

.contact{
  padding-top: 20px;
  padding-bottom: 20px;

}